name: delete-old-packages
  # You may pin to the exact commit or the version.
  # uses: SmartsquareGmbH/delete-old-packages@87726d22de419a4d3c467bb118ebc17c010b806f
on:
  registry_package:
    types: [published]
  workflow_dispatch:

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest
    
    steps:
      - name: Delete maven package
        uses: actions/delete-package-versions@263c5d855adc57bb2e3db42039bdd6e6dd7b9816
        with: 
            owner: NamrataJha
            repo: delete-package-versions-actions-test
            package-name: delete-package-versions-actions-test
            min-versions-to-keep: 10
            token: ${{ secrets.PAT }}
