name: delete-old-packages
  # You may pin to the exact commit or the version.
  # uses: SmartsquareGmbH/delete-old-packages@87726d22de419a4d3c467bb118ebc17c010b806f
on:
  registry_package:
    types: [published]
  workflow_dispatch:

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest
    
    steps:
      - name: Delete maven package
        uses: namratajha/delete-package-versions@517144113ec583b0fc9e22c51665d8249d24d6f6
        with: 
            owner: NamrataJha
            repo: mavenpackage
            package-name: mavenpackage.demopack
            num-old-versions-to-delete: 6
