name: delete-old-packages
  # You may pin to the exact commit or the version.
  # uses: SmartsquareGmbH/delete-old-packages@87726d22de419a4d3c467bb118ebc17c010b806f
on:
  registry_package:
    types: [published]
  workflow_dispatch:

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest
    
    steps:
      - name: Delete maven package
        uses: namratajha/delete-package-versions@248e3651e341146f6ffa442ef56745b37a617e2b
        with: 
            owner: NamrataJha
            repo: mavenpackage
            package-name: mavenpackage.demopack
            num-old-versions-to-delete: 2
            ignore-versions: "^(0|[1-9]\\d*)((\\.(0|[1-9]\\d*))*)$"
            min-versions-to-keep: 3
