name: delete-old-packages
  # You may pin to the exact commit or the version.
  # uses: SmartsquareGmbH/delete-old-packages@87726d22de419a4d3c467bb118ebc17c010b806f
on:
  registry_package:
    types: [published]
  workflow_dispatch:

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest
    
    steps:
      - name: Delete maven package
        uses: namratajha/delete-package-versions@2ff30163987b8b64594e304009f9bc3be79fae0f
        with: 
            owner: NamrataJha
            repo: mavenpackage
            package-name: mavenpackage.demopack
            min-versions-to-keep: 2
            num-old-versions-to-delete: 4
            min-pre-release-versions-to-keep: "true"
