name: delete-old-packages
  # You may pin to the exact commit or the version.
  # uses: SmartsquareGmbH/delete-old-packages@87726d22de419a4d3c467bb118ebc17c010b806f
on:
  registry_package:
    types: [published]

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest
    
    steps:
      - name: Delete maven package
        uses: SmartsquareGmbH/delete-old-packages@v0.3.2
        with: 
            owner: NamrataJha
            repo: mavenpackage
            names: mavenpackage.demo
            keep: 2
            dry-run: true
            token: ${{ secrets.PAT}}
